# Git
.git
.gitignore

# IDE & Editor
.idea/
.vscode/
*.swp
*.swo
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php

**/node_modules/
**/dist/
npm-debug.log

**/vendor/
.env
.env.testing
storage/*.key
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
public/storage/
bootstrap/cache/*

Dockerfile
docker-compose.yml
.dockerignore

.DS_Store
Thumbs.db